



/* ---------------------------------FEATURE CSS----------------------------------------- */
.feature {
    position: relative;
    border-bottom: 1px solid rgb(230, 227, 227);
}

.feature .feature-item {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    padding: 15px;
}
.feature .feature-item:hover {
    /* border: 1px solid rgb(7, 7, 7); */
    background-color: #d3d0d0; 
}
/* .feature .feature-icon i {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.feature .feature-icon [class^="flaticon-"]::before {
    margin-left: 0px;
    color: #000000;
    font-size: 50px;
    
}

.feature  .feature-text {
    padding-left: 10px;
}

.feature .feature-text h3 {
    color: #000000;
    font-size: 15px;
    font-weight: 550;
    text-align: center;
}


/* ----------------------------------NEW PRODUCTS CSS----------------------------------------------*/
.hot-products h2{
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;

}
.hot-products {  
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(230, 227, 227);
}

.hot-products .hproduct {
    text-align: center;
    border: 1px solid #DDDDDD;
    margin-bottom: 30px;
    margin-left: 0px;
    width: 100%;
}

.hot-products .hproduct:hover{

    border: 1px solid #fdbe33; 
    box-shadow: 0 0 20px 0 rgba(43, 43, 43, 0.5);
    
}

.hot-products .hproduct-img {
    /* width: 270px;
    height: 150px; */
    height: 150px;
}

.hot-products .hproduct-img img {
    height: 100%;
    width: 100% ;
}

.hot-products .hproduct-text {
    display: flex;
    align-items: center;
    height: 40px;
    /* width: 270px; */
    width: 100%;
    background:#333333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.hot-products .hproduct-text h3 {
    margin: 0;
    padding-left:10px;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    text-align: left;

}

.hot-products .hproduct a.btn {
    width: 50px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;/*chỉnh độ lớn glaticon*/
    line-height: 20px;
    font-weight: 60px;
    color: #000000;
    background: #fdbe33;
    border-radius: 0;
    transition: .3s;
}


.hot-products .hproduct:hover a.btn {
    color: #ffffff;
}

/* -------------------------------------------POPULAR PRODUCT CSS --------------------------------------------*/
.popular-product .item{
    position: relative;
    width: 100;
    text-align: center;
}   
.popular-product h2{
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
}

.popular-product .card{
    position: relative;
    border:2px solid rgb(224, 222, 222);
    height: 280px;
}
.popular-product .card img{
height: 195px; width: 100%;
} 
.popular-product .item h5{
    position: absolute;
    font-size: 25px;
    letter-spacing: 0.2rem;
    padding-left: 90px;
    top: 0px;
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.popular-product .card-body{ 
    text-align: left;
    bottom: 0;
    position: absolute;
    padding-left: 10px;
    margin-bottom: -10px;
}
.popular-product .card-body h3{font-size: 22px; margin-top: 0px;
} 
    .popular-product form{
        right:0;
        bottom: 0px;
        padding-top: 235px;
        height: 100%;
        position: absolute;
        opacity: 0;
        
        
    }
    .popular-product button{
        background-color: red;
        color: rgb(224, 222, 222);
        height: 35px;
        width: 80px;
        font-size: 20px;
        
    }
    .popular-product .item:hover form{
        opacity: 1;
    }
    .popular-product .item:hover{
        box-shadow: 0 0 20px 0 rgba(43, 43, 43, 0.5);}


/*----------------------------------------------
---------- End Homepage----------------------- */

































































































