



/* ---------------------------------FEATURE CSS----------------------------------------- */
.feature {
    position: relative;
}

.feature .feature-item {
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    padding: 15px;
}
.feature .feature-item:hover {
    /* border: 1px solid rgb(7, 7, 7); */
    background-color: #d3d0d0; 
}
/* .feature .feature-icon i {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.feature .feature-icon [class^="flaticon-"]::before {
    margin-left: 0px;
    color: #000000;
    font-size: 50px;
    
}

.feature  .feature-text {
    padding-left: 10px;
}

.feature .feature-text h3 {
    color: #000000;
    font-size: 15px;
    font-weight: 550;
    text-align: center;
}


/* ----------------------------------HOT PRODUCTS CSS----------------------------------------------*/
.hot-products h2{
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    padding-top: 15px;

}
.hot-products {  
    box-shadow: 0 0 25px 0 rgba(57, 61, 60, 0.5);
    background-color: #FAFAD2;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 30px;
}

.hot-products .hproduct {
    text-align: center;
    border: 1px solid #DDDDDD;
    margin-bottom: 30px;
    margin-left: 0px;
    width: 100%;
}

.hot-products .hproduct:hover{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    border: 3px solid #fdbe33; 
    box-shadow: 0 0 30px 0 rgba(43, 43, 43, 0.5);
    
}

.hot-products .hproduct-img {
    /* width: 270px;
    height: 150px; */
    height: 150px;
}

.hot-products .hproduct-img img {
    height: 100%;
    width: 100% ;
}

/* .hot-products .hproduct-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(3, 15, 39, .7);
    transition: 0.5s;
    opacity: 0;
} */


.hot-products .hproduct-text {
    display: flex;
    align-items: center;
    height: 40px;
    /* width: 270px; */
    width: 100%;
    background:#333333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.hot-products .hproduct-text h3 {
    margin: 0;
    padding: 0 15px 0 25px;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    text-align: left;
    overflow: hidden;

}

.hot-products .hproduct a.btn {
    width: 50px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;/*chỉnh độ lớn glaticon*/
    line-height: 20px;
    font-weight: 60px;
    color: #000000;
    background: #fdbe33;
    border-radius: 0;
    transition: .3s;
}



.hot-products .hproduct:hover a.btn {
    color: #ffffff;
}

/* -------------------------------------------POPULAR PRODUCT CSS --------------------------------------------*/
.popular-product .item{
    position: relative;
    width: 100;
    text-align: center;
    margin-bottom: 20px;

    
}   
.popular-product h2{
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
}

.popular-product .card{
    position: relative;
    border:2px solid rgb(224, 222, 222);
    height: 250px;
}
.popular-product .card img{
height: 200px; width: 100%;
} 
.popular-product .item h5{
    position: absolute;
    font-size: 18px;
    float: left;
    top: 0px;
    color: red;
    font-family: fantasy;
}
.popular-product .card-body{ 
    padding: 0;
    text-align: left;
    font-size: 18px;
}
.popular-product .card-body h3{font-size: 24px; margin-top: 5px;
} 
    .popular-product form{
        right:0;
        height: 100%;
        position: absolute;
        opacity: 0;
    }
    .popular-product button{
        background-color: red;
        color: rgb(224, 222, 222);
        height: 40px;
    }
    .popular-product .item:hover form{
        opacity: 1;
    }
    .popular-product .item:hover{
        box-shadow: 0 0 30px 0 rgba(43, 43, 43, 0.5);}


/*----------------------------------------------
---------- End Homepage----------------------- */

































































































