@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?1846216ad1caee370ff2e44bc04d5dab") format("truetype"),
url("./flaticon.woff?1846216ad1caee370ff2e44bc04d5dab") format("woff"),
url("./flaticon.woff2?1846216ad1caee370ff2e44bc04d5dab") format("woff2"),
url("./flaticon.eot?1846216ad1caee370ff2e44bc04d5dab#iefix") format("embedded-opentype"),
url("./flaticon.svg?1846216ad1caee370ff2e44bc04d5dab#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-menu:before {
    content: "\f101";
}
.flaticon-time:before {
    content: "\f102";
}
.flaticon-smartphone:before {
    content: "\f103";
}
.flaticon-home:before {
    content: "\f104";
}
.flaticon-shopping-cart:before {
    content: "\f105";
}
.flaticon-user:before {
    content: "\f106";
}
.flaticon-search:before {
    content: "\f107";
}
.flaticon-contact:before {
    content: "\f108";
}
.flaticon-copywriting:before {
    content: "\f109";
}
.flaticon-photo-album:before {
    content: "\f10a";
}
.flaticon-enter:before {
    content: "\f10b";
}
.flaticon-add-user:before {
    content: "\f10c";
}
.flaticon-loupe:before {
    content: "\f10d";
}
.flaticon-delivery-truck:before {
    content: "\f10e";
}
.flaticon-maintenance:before {
    content: "\f10f";
}
.flaticon-open-box:before {
    content: "\f110";
}
.flaticon-product:before {
    content: "\f111";
}
.flaticon-express-delivery:before {
    content: "\f112";
}
.flaticon-24h:before {
    content: "\f113";
}
.flaticon-customer-service:before {
    content: "\f114";
}
.flaticon-fix:before {
    content: "\f115";
}
